div#main {
 border: 2px solid #ececec;
 width: 500px;
 padding: 0 0 50 0;
 height: auto;
}

div.ToWatch {
 width: 85px;
 height: 55px;
 border: 1px #ececec solid;
 text-align: center;
 vertical-align: middle;
 line-height: 55px; 
}

div.Watched {
 width: 85px;
 height: 55px;
 border: 1px #ececec solid; 
 text-align: center;
 vertical-align: middle;
 line-height: 55px; 
}

div#title {
 padding: 20 0 20 20;
 font-size: 22px;
 font-weight: 700;
 background: #ececec;
}

div.movieList {
 padding-top: 0px;
}

div.movie {
 border: 0.5px solid #ececec;
 font-size: 18px;
 padding: 10 0 10 20;
 margin: auto;
 width: 400px;
 
}

div.searchBar {
 padding: 20 0 10 50;
 margin: auto;
}

div.addMovie {
 padding: 30 0 10 50;
 margin: auto;
}

div.switch {
 display: inline-flex;
 margin: 20 0 0 30;
}

div.Search {
 display: inline-flex;
 margin: 20 0 0 10;
}